# Deployment values for pgbouncer
replicaCount: 1
internalPort: 5432
antiAffinity: soft
nodeAffinity: {} # optionally define nodeAffinity
tolerations: [] # optionally define tolerations

# Pool mode, needs to be one of session, transaction, statement
poolMode: session

budget:
  minAvailable: 0 # PodDisruptionBudget spec.minAvailable

image:
  repository: cradlepoint/pgbouncer
  tag: latest
  pullPolicy: Always

service:
  enabled: false
  type: ClusterIP
  name: pgbouncer
  annotations: {}

databases: {}
#  name:
#    host: host
#    port: port
#    user: user
#    dbname: dbname

users: {}
#  username: password

connectionLimits:
  maxClientConn: 200
  defaultPoolSize: 200
  minPoolSize: 15
  reservePoolSize: 25
  reservePoolTimeout: 5

spec:
    labels: {} # Add custom pod labels here    
    annotations: {} # Add custom pod annotations here
      # Annotations are converted to a JSON string and run through
      # the helm `tpl` function. Then converted back to a map and
      # rendered as YAML. This allows usage of go template directives
      # in your annotations.

labels: {}
# Add custom deployment labels here

logConnections: 0
logDisconnections: 0
logStats: 0
logPoolerErrors: 1
verbose: 0
statsPeriod: 60

# add key: value map entries to customSettings to be added to pbgouncer.ini [pgbouncer] section
customSettings: {}

global:
  # optionally use namespace as dbname
  namespacedDatabases: false
